<%= simple_form_for @inventory, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :reutilizable %>
  <%= f.input :finalcost %>
  <%= f.input :quantity %>
  <%= f.input :name %>
  <%= f.input :image %>
  <%= f.input :codeproduct %>
  <%= f.input :netvalue %>
  <%= f.input :descto %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                inventories_path, :class => 'btn' %>
  </div>
<% end %>
