<%- model_class = Inventory -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:reutilizable) %>:</strong></dt>
  <dd><%= @inventory.reutilizable %></dd>
  <dt><strong><%= model_class.human_attribute_name(:finalcost) %>:</strong></dt>
  <dd><%= @inventory.finalcost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:quantity) %>:</strong></dt>
  <dd><%= @inventory.quantity %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @inventory.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt>
  <dd><%= @inventory.image %></dd>
  <dt><strong><%= model_class.human_attribute_name(:codeproduct) %>:</strong></dt>
  <dd><%= @inventory.codeproduct %></dd>
  <dt><strong><%= model_class.human_attribute_name(:netvalue) %>:</strong></dt>
  <dd><%= @inventory.netvalue %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descto) %>:</strong></dt>
  <dd><%= @inventory.descto %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              inventories_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_inventory_path(@inventory), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              inventory_path(@inventory),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
