<%= simple_form_for @employee, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :FirstName %>
  <%= f.input :LastName %>
  <%= f.input :Adress %>
  <%= f.input :Phone %>
  <%= f.input :Function %>
  <%= f.input :MaritalStatus %>
  <%= f.input :Academicformation %>
  <%= f.input :intNumberOfChildren %>
  <%= f.input :Religion %>
  <%= f.input :SpouseName %>
  <%= f.input :OccupationSpouse %>
  <%= f.input :AssistancetoTraining %>
  <%= f.input :HireDate %>
  <%= f.input :SettlementDate %>
  <%= f.input :DeliveryInUniformDate %>
  <%= f.input :ProtectiveEquipmentDeliveryDate %>
  <% f.input :Permissions %>
  <%= f.input :DateTimeHolidays %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                employees_path, :class => 'btn' %>
  </div>
<% end %>
