<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @employee.FirstName %>
</p>

<p>
  <b>Lastname:</b>
  <%= @employee.LastName %>
</p>

<p>
  <b>Adress:</b>
  <%= @employee.Adress %>
</p>

<p>
  <b>Phone:</b>
  <%= @employee.Phone %>
</p>

<p>
  <b>Function:</b>
  <%= @employee.Function %>
</p>

<p>
  <b>Maritalstatus:</b>
  <%= @employee.MaritalStatus %>
</p>

<p>
  <b>Academicformation:</b>
  <%= @employee.Academicformation %>
</p>

<p>
  <b>Intnumberofchildren:</b>
  <%= @employee.intNumberOfChildren %>
</p>

<p>
  <b>Religion:</b>
  <%= @employee.Religion %>
</p>

<p>
  <b>Spousename:</b>
  <%= @employee.SpouseName %>
</p>

<p>
  <b>Occupationspouse:</b>
  <%= @employee.OccupationSpouse %>
</p>

<p>
  <b>Assistancetotraining:</b>
  <%= @employee.AssistancetoTraining %>
</p>

<p>
  <b>Hiredate:</b>
  <%= @employee.HireDate %>
</p>

<p>
  <b>Settlementdate:</b>
  <%= @employee.SettlementDate %>
</p>

<p>
  <b>Deliveryinuniformdate:</b>
  <%= @employee.DeliveryInUniformDate %>
</p>

<p>
  <b>Protectiveequipmentdeliverydate:</b>
  <%= @employee.ProtectiveEquipmentDeliveryDate %>
</p>

<p>
  <b>Permissions:</b>
  <%= @employee.Permissions %>
</p>

<p>
  <b>Datetimeholidays:</b>
  <%= @employee.DateTimeHolidays %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
