<p id="notice"><%= notice %></p>

<p>
  <b>Nombres:</b>
  <%= @employee.FirstName %>
</p>

<p>
  <b>Apellidos:</b>
  <%= @employee.LastName %>
</p>

<p>
  <b>Direccion:</b>
  <%= @employee.Adress %>
</p>

<p>
  <b>Telefono:</b>
  <%= @employee.Phone %>
</p>

<p>
  <b>Cargo:</b>
  <%= @employee.Function %>
</p>

<p>
  <b>Estado matrimonial:</b>
  <%= @employee.MaritalStatus %>
</p>

<p>
  <b>Formacion academica:</b>
  <%= @employee.Academicformation %>
</p>

<p>
  <b>Numero de hijos:</b>
  <%= @employee.intNumberOfChildren %>
</p>

<p>
  <b>Religion:</b>
  <%= @employee.Religion %>
</p>

<p>
  <b>Nombre esposa:</b>
  <%= @employee.SpouseName %>
</p>

<p>
  <b>Ocupacion esposa:</b>
  <%= @employee.OccupationSpouse %>
</p>

<p>
  <b>Asistencia a entrenamiento:</b>
  <%= @employee.AssistancetoTraining %>
</p>

<p>
  <b>Fecha contratacion:</b>
  <%= @employee.HireDate %>
</p>

<p>
  <b>Settlementdate:</b>
  <%= @employee.SettlementDate %>
</p>

<p>
  <b>Envio uniforme:</b>
  <%= @employee.DeliveryInUniformDate %>
</p>

<p>
  <b>Entrega de uniforme:</b>
  <%= @employee.ProtectiveEquipmentDeliveryDate %>
</p>

<p>
  <b>Permissions:</b>
  <%= @employee.Permissions %>
</p>

<p>
  <b>Vacaciones:</b>
  <%= @employee.DateTimeHolidays %>
</p>


<%= link_to 'Editar', edit_employee_path(@employee) %> |
<%= link_to 'Atras', employees_path %>
