<h1>Mostrando turnos</h1>

<table>
  <tr>
    <th>Id del turno</th>
    <th>Comienzo del turno</th>
    <th>Fin del turno</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @turns.each do |turn| %>
  <tr>
    <td><%= turn.validshift %></td>
    <td><%= turn.shifhtstartime %></td>
    <td><%= turn.shiftendtime %></td>
    <td><%= link_to 'Show', turn %></td>
    <td><%= link_to 'Edit', edit_turn_path(turn) %></td>
    <td><%= link_to 'Destroy', turn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Turn', new_turn_path %>
