<h1>Nuevo turno</h1>

<%= simple_form_for(@turn) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :validshift  %>
    <%= f.input :shifhtstartime %>
    <%= f.input :shiftendtime %>

    Empleados que trabajan en turno: <br/>

    <% @employees.each do |user| %>
         <%= check_box_tag "user_ids[]", user.id %> 
         <%= "#{user.FirstName} " -%> <%= "#{user.LastName}" -%><br />
<% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<%= link_to 'Atras', turns_path %>
