<p id="notice"><%= notice %></p>

<p>
  <b>Es valido:</b>
  <%= @turn.validshift %>
</p>

<p>
  <b>Hora de inicio:</b>
  <%= @turn.shifhtstartime %>
</p>

<p>
  <b>Hora de fin:</b>
  <%= @turn.shiftendtime %>
</p>


<%= link_to 'Editar', edit_turn_path(@turn) %> |
<%= link_to 'Atras', turns_path %>
