<%= simple_form_for @place, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :typecleaning %>
  <%= f.input :area %>
  <%= f.input :status %>
  <%= f.input :unit %>
  <%= f.input :building %>
  <%= f.input :floor %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                places_path, :class => 'btn' %>
  </div>
<% end %>
