<h1>Lugares</h1>

<table>
  <tr>
    <th>Tipo de limpieza</th>
    <th>Area</th>
    <th>Status</th>
    <th>Unidad</th>
    <th>Edificio</th>
    <th>Piso</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= form_tag("/places", :method => "get") do %>

  <%= label_tag(:piso, "Piso:") %>
  <%= text_field_tag(:piso) %>

    <%= label_tag(:edificio, "Edificio:") %>
  <%= text_field_tag(:edificio) %>

    <%= label_tag(:area, "Area:") %>
  <%= text_field_tag(:area) %>

    <%= label_tag(:unidad, "Unidad:") %>
  <%= text_field_tag(:unidad) %>

<br/>
  <%= submit_tag("Filtrar") %>
<% end %>

<br/>
<br/>
<% @filter.each do |place| %>
  <tr>
    <td><%= place.typecleaning %></td>
    <td><%= place.area %></td>
    <td><%= place.status %></td>
    <td><%= place.unit %></td>
    <td><%= place.building %></td>
    <td><%= place.floor %></td>
    <td><%= link_to 'Show', place %></td>
    <td><%= link_to 'Edit', edit_place_path(place) %></td>
    <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Seguro?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Espacio', new_place_path %>
