<p id="notice"><%= notice %></p>

<p>
  <b>Tipo limpieza:</b>
  <%= @place.typecleaning %>
</p>

<p>
  <b>Area:</b>
  <%= @place.area %>
</p>

<p>
  <b>Status:</b>
  <%= @place.status %>
</p>

<p>
  <b>Unidad:</b>
  <%= @place.unit %>
</p>

<p>
  <b>Edificio:</b>
  <%= @place.building %>
</p>

<p>
  <b>Piso:</b>
  <%= @place.floor %>
</p>


<%= link_to 'Editar', edit_place_path(@place) %> |
<%= link_to 'Atras', places_path %>
